Django==4.0.6
djangorestframework
psycopg2-binary
drf-spectacular==0.28.0
django-filter==22.1
python-dotenv==0.21.0
gunicorn==20.1.0
whitenoise==6.2.0
pytest
pytest-factoryboy
Faker
pytest-django
djangorestframework-simplejwt
pytest-mock
django-filter
